.header {
  background-color: var(--black);
  padding: 20px 0;
  border-bottom: 2px solid var(--red);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: auto;
  width: 70px;
  border-radius: 30%;
    animation: shakeLeftRight 1s infinite alternate;

}

@keyframes shakeLeftRight {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.nav {
  display: flex;
}

nav a {
  padding: 5px;
  font-weight: 500;
}
nav a.active {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}
